<div class="container">
  <div class="mb-3 d-flex justify-content-end">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Search for recipes</mat-label>
      <input matInput [(ngModel)]="searchQuery" (keydown.enter)="onSearch()">
      <button *ngIf="isSearchMode" mat-icon-button matSuffix (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="row justify-content-sm-start justify-content-center">
    <div *ngFor="let recipe of recipes" class="card-container col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <app-recipe-card [recipe]="recipe" (toggleFavorite)="onToggleFavorite($event)" (onOpenRecipe)="openRecipe($event)"></app-recipe-card>
    </div>
  </div>
  <div *ngIf="!isLoadingData && recipes.length === 0" class="d-flex justify-content-center no-recipes-found">
    No recipes found
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button *ngIf="showLoadMoreButton" mat-raised-button class="red-nbu-button white-color" (click)="loadMore()">Load more</button>
    </div>
  </div>
</div>