<div class="container">
  <div class="row justify-content-sm-start justify-content-center">
    <div *ngFor="let recipe of recipes" class="card-container col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <app-recipe-card [recipe]="recipe" (toggleFavorite)="onToggleFavorite($event)" (onOpenRecipe)="openRecipe($event)"></app-recipe-card>
    </div>
  </div>
  <div *ngIf="!isLoadingData && recipes.length === 0" class="d-flex justify-content-center no-recipes-found">
    No favorited recipes
  </div>
</div>